/* This is a reset for css and some basic general styling */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'roboto', sans-serif;
    line-height: 1.6;
}

img {
    display: block;
    max-width: min(100vw, 350px);
}

h2 {
    font-family: sans-serif;
}

/* reset ends here */




/* styles for navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: lowercase;
    width: 100%;
    padding-inline: 2vmin;
    padding-block: 1rem;
    border-bottom: 1px gray solid;
    width: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    letter-spacing: 3px;
    font-style: italic;
}

.navlinks {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* styles for page container */
.container {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 1fr;
    justify-content: space-between;
    max-width: 100%;
}

/* creating cards for the homepage */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-style: italic;
    min-height: 300px;
    letter-spacing: 2px;
}

a:has(.card) {
    display: contents;
}

.test {
    filter: sepia(50%) grayscale(10%);
    position: relative;
}

/* adding background images to the before pseudo-element of cards for visual effects */
.test::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: width .5s linear;
    transition-delay: .2s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.one::before {
    background-image: url(/assests/FsuT3ahWYAEpOXn.jpeg);
}

.two::before {
    background-image: url(/assests/frank-at-cochella.jpeg);
    background-position: inherit;
}

.three::before {
    background-image: url(/assests/BLONDE.jpeg);
    background-position: top;
}

.four::before {
    background-image: url(/assests/FergvfTWIAAwYeK.jpeg);
    background-position: top;
}

/* hover state for cards */
.test:hover::before,
test:focus::before {
    width: 100%;
}

/* styling for the footnote */
.footnote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    pointer-events: none;
}

/* adding the underline effect for desktop */

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: width .5s;
    transition-delay: .2s;
}

.underline:hover::before,
.card:hover>.underline::before {
    width: 100%;
}


.trailer {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid gray;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    animation: rotor 5s infinite linear;
}

.album-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@keyframes rotor {


    100% {
        transform: rotateZ(360deg);
    }

}

.parag {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin: auto;
    padding-block: 3rem;
    gap: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'inter', serif;
}

.aside {
    position: relative;
    top: 0;
    margin-right: 1rem;
    left: 0;
    text-align: center;
    width: auto;
    height: 70%;
}

.txt-lg {
    font-size: 5rem;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    align-self: center;
}

.content {
    min-width: 70%;
    font-size: 18px;
}

.footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    justify-content: space-evenly;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.album-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width:720px) {

    .upside {
        writing-mode: vertical-lr;
    }

    .title,
    .parag {
        flex-direction: row;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (prefers-color-scheme:dark) {
    body {
        color: whitesmoke;
        background-color: #030303;
    }

    .underline::before {
        background-color: whitesmoke;
    }

    .trailer {
        border-color: white;
    }

    .test {
        filter: grayscale(80%);
    }
}

@media (hover:hover) and (min-width:600px) {
    .trailer {
        display: initial;
    }

    .test::before {
        width: 0%;
        background-size: initial;
    }

    .album-section {
        flex-direction: row;
    }

    .album-section>* {
        flex-basis: 100%;
    }
}

@keyframes loadup {
    0% {
        transform: translateX(50%);
        opacity: 0;
        filter: blur(50%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hehe {
    animation: loadup 1s ease;
}